.hidden {
  display: none !important;
}

.error-state {
  position: fixed;
  inset: 0;

  background: hsl(243, 96%, 9%);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}

.error-content {
  text-align: center;
  max-width: 22rem;
}

.error-content img {
  width: 1rem;
}

.error-content h1 {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}

.error-content p {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 1.5rem;
}

.retry-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  background: hsl(243, 27%, 20%);
  border: none;
  border-radius: 0.4rem;
  padding: 0.2rem 0.7rem;
  width: 5rem;
  height: 2rem;
  color: white;
  cursor: pointer;
}

.retry-button:hover {
  background: hsl(243, 23%, 24%);
}
