* {
  box-sizing: border-box;
  color: white;
  margin: 0;
}
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: hsl(243, 96%, 9%);
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}